#!/usr/bin/make -f

include /usr/share/postgresql-common/pgxs_debian_control.mk
clean: debian/control
.PHONY: debian/control

override_dh_auto_clean:
	$(MAKE) clean
	rm -rf build-* debian/postgresql-*

override_dh_auto_build:
	+pg_buildext build build-%v

override_dh_auto_install:
	+pg_buildext install build-%v postgresql-%v-tablelog

%:
	dh $@ 
